<?xml version="1.0" encoding="UTF-8" ?>

<!--
	Document   : log4j.xml
	Created on : 25 March 2014
	Author     : Dmitriy Merkushov
	Description: Example Log4j configuration using ru.dmerkushov.loghelper.log4j.extend.DailyRollingFileAppenderExt
	
	DailyRollingFileAppenderExt can delete old log files that are too old to keep. See the KeepOldLogsSeconds parameter.
-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="true" xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="FILE" class="ru.dmerkushov.loghelper.log4j.extend.DailyRollingFileAppenderExt">
		<param name="File" value="log/log-${user.name}.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="KeepOldLogsSeconds" value="0" />	<!-- 0 is not to delete old files at all. Default is 604800 - 7 days. -->
		<layout class="org.apache.log4j.PatternLayout">        
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
		</layout>
	</appender>

	<root>
		<level value="ALL"/>
		<appender-ref ref="FILE"/>
	</root>

</log4j:configuration>
